/* From Uiverse.io by kamehame-ha */
.button {
  display: flex;

  padding: 10px 15px;
  background-color: #181717;
  outline: 3px #181717 solid;
  outline-offset: -3px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: 400ms;
}

.button .text {
  color: white;
  font-weight: 700;
  font-size: 1em;
  transition: 400ms;
}

.button svg path {
  transition: 400ms;
}

.button:hover {
  background-color: transparent;
}

.button:hover .text {
  color: #181717;
}

.button:hover svg path {
  fill: #181717;
}
ul {
  align-items: center;
}

.nav-btn li {
  padding: 20px;
  border: 2px solid transparent;
  transition: border-color 0.5s ease-in-out, transform 0.5s ease;
  border-radius: 8px;
}

.nav-btn li:hover {
  transform: scale(1.05); /* Optional: adds a subtle zoom effect */
}
